<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<p>Please wait until everyone is in the room before playing the first video</p>
<input id="play-video-input" type="text" size="100"><br>
<input id="play-video-submit" type="button" value="Play"><br>
<div id="player"></div>
<textarea readonly id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
{{ user.username|json_script:"username" }}
<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: '7RzA_Oomra8',
            playerVars: {
                'playsinline': 1
            },
            events: {
                'onReady': onPlayerReady,
                //'onStateChange': onPlayerStateChange
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    var username = JSON.parse(document.getElementById('username').textContent);

    if (!username) {
        username = 'guest';
    }

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const today = new Date()
        var h = today.getHours()
        var m = today.getMinutes()
        if (m < 10) {
            m = `0${m}`
        }
            console.log(data)
            if(data.type === 'chat_message') {

                document.querySelector('#chat-log').value += (h + ':' + m + ' ' + data.user + ': ' + data.message + '\n');
                document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
            }
            if(data.type === 'video_load') {
                document.querySelector('#chat-log').value += (h + ':' + m + ' ' + data.user + ' played: ' + data.message + '\n');
                document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
            }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'type': 'chat_message',
            'user': username,
            'message': message,

        }));
        messageInputDom.value = '';
    };

    document.querySelector('#play-video-input').onkeyup = function (e) {
       if (e.keyCode === 13) {  // enter, return
           document.querySelector('#play-video-submit').click();
       }
    };

    document.querySelector('#play-video-submit').onclick = function (e) {
        const videoInputDom = document.querySelector('#play-video-input');
        const url = videoInputDom.value;
        console.log(url)
        chatSocket.send(JSON.stringify({
            'type': 'video_load',
            'user': username,
            'message': url,

        }));
        console.log(JSON.stringify({
            'type': 'video_load',
            'user': username,
            'message': url,
        }));
        videoInputDom.value = '';
    };

</script>
</body>
</html>